<a href="https://colab.research.google.com/github/prireneo/MASTER-CLASS-DATA-ANALYTICS-COURSE/blob/main/Python_classIrene.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# hi irene using python for the first time to code

# explaining indentation
for i in range(10):
 print

BASIC DATA TYPES

In [ ]:
# EXPLAINING THE DIFFERENT DATA TYPES
# string data type
name = "Susan"

In [ ]:
print("Susan")
print(name)

Susan
Susan

In [ ]:
# int data type
age = 30

In [ ]:
# Boolean Data Type
is_student = False

In [ ]:
# Float Data Type
height = 5.7

**CLASS ACTIVITY 1**

In [ ]:
#Write 3 lines of code defining your name, age and a boolean for whether you love Python class or not.
Name = "Irene"
Age = 50
loves_Python = True

DATA COLLECTIONS
*   Lists- mutable(editable) items on python. uses []
*   Tuples- defined by parenthesis not collar braces. They are also immutable sequences. uses ()
*  Dictionaries.Also mutable like Lists. Key value sets. They always come in pairs. uses {}. E.g. {"irene":50,} "irene" is a key and 50 is the pair

In [ ]:
# UNDERSTANDING LISTS
Names = ["Irene", "Freeze", "Susan"]

In [ ]:
print(Names)

['Irene', 'Freeze', 'Susan']

In [ ]:
print(Names[1:])

['Freeze', 'Susan']

In [ ]:
# Tuples - not editable
colors = ("irene", "freeze", "susan")

In [ ]:
print(colors[2])

susan

In [ ]:
# Dictionaries
# list of items to buy
# rice : 1000
# beans : 2000
# salt : 500

In [ ]:
BIO = {"irene":50, "freeze":55, "susan":65}
print(BIO)
BIO["susan"] = 60
print(BIO)

{'irene': 50, 'freeze': 55, 'susan': 65}
{'irene': 50, 'freeze': 55, 'susan': 60}

CLASS ACTIVITY 2

*   Create a list of you 3 favorite books. change the 2nd book to a popular book you know
*   Create a tuple of 3 numbers
*   Create a dictionay of your profile with name,country and favorite color. Change favorite color to your worst color

In [ ]:
# LIST OF 3 FAVORITE BOOKS
Favorite_Books = ["The Catcher in the Rye", "Entitlement Abolition", "The Laser Fund"]
print(Favorite_Books)

['The Catcher in the Rye', 'Entitlement Abolition', 'The Laser Fund']

In [ ]:
Favorite_Books[1]="Emptied"
print(Favorite_Books)

['The Catcher in the Rye', 'Emptied', 'The Laser Fund']

In [ ]:
# TUPLE OF 3 NUMBERS
Numbers= "one", "seven", "six"
print(Numbers)
print(Numbers[2])

('one', 'seven', 'six')
six

In [ ]:
# DICTIONARY OF MY PROFILE WITH NAME,COUNTRY COLOR
Profile = {"name":"Irene", "country":"Nigeria", "color":"Black"}
print(Profile)
Profile["color"]= "Lilac"
print(Profile)

{'name': 'Irene', 'country': 'Nigeria', 'color': 'Black'}
{'name': 'Irene', 'country': 'Nigeria', 'color': 'Lilac'}

In [ ]:
#If statement
x = 5
if x > 4:
  print("x is greater than 4")

x is greater than 4